{% extends "partials/layout.njk"%}
{% block  title %}Home{% endblock %}
{% block  content %}
    <h1>Hello World!</h1>
{% endblock %}

<!-- add page2 to turning http://localhost:3000 into http://localhost:3000/page2 -->